{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Claim Point</h2>
    <form method="POST">
        Username:<br>
        <input type="text" name="username" placeholder="@crispy_fries" required><br>

        PIN:<br>
        <input type="password" name="pin" placeholder="********************************" required><br>

        Daily Code:<br>
        <input type="text" name="code" required><br>

        <button type="submit">Claim</button>
    </form>
</div>
{% endblock %}